<% layout('layouts/boilerplate') %>
    <h1>Campgrounds</h1>
    <button><a href="/campgrounds/new">ADD New</a></button>

    <ul>
      <% for (let campground of campgrounds) {%>
      <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
      <% } %>
    </ul>
  
